<div class="article">
  <div class="pure-g text-container">
    <div class="pure-u-md-7-8 pure-u-lg-3-4">
      <div class="article-title">
        <h2 class="uppercase">Headline - Lorem Impsum</h2>
        <h4 class="uppercase">Subtitle Lorem Impsum</h4>
        <div class="separator"></div>
      </div>
      <div class="pure-g article-text">
        <div class="pure-u-sm-1-2">
          <p>Suspendisse potenti. Nunc scelerisque odio non aliquam pharetra. Nam sed orci diam. Integer sed felis at leo efficitur pharetra sit amet a odio. Vestibulum vestibulum metus et massa fermentum imperdiet. Integer est arcu, placerat eget nibh id, bibendum hendrerit nulla. Integer condimentum bibendum facilisis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus, nibh nec interdum vulputate, tellus leo faucibus felis, vitae porttitor libero justo id sapien. Sed eget accumsan lacus. Proin dapibus scelerisque eros sed luctus.Quisque ultrices risus nec sem rutrum auctor. Nam eros arcu, molestie at ultrices nec, ullamcorper tristique erat. Nullam ut fermentum odio. Nunc ullamcorper ante id urna dictum fringilla. Nam ullamcorper pretium magna, quis cursus nisi ullamcorper at. In volutpat erat vel vulputate suscipit. Proin vel nibh at nulla porta pretium sit amet placerat magna. Nullam fringilla libero ex, quis tempus ligula dapibus a. Sed egestas aliquet lorem, ut sodales quam blandit nec. Pellentesque scelerisque ipsum gravida est elementum, at condimentum nisi consectetur.</p>
        </div>
        <div class="pure-u-sm-1-2">
          <p>Praesent rutrum congue dolor sit amet tempus. Cras luctus aliquet semper. Pellentesque posuere vel ligula sit amet luctus. Mauris pulvinar eros nec lacus lacinia lacinia vel in neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec id sem ornare, rhoncus odio sit amet, fermentum arcu. In tellus lectus, lacinia non cursus sed, volutpat non ex.</p>
          <p>Quisque non urna sagittis, rhoncus ligula in, ullamcorper erat. Nam posuere eros sit amet lorem porta scelerisque. Vestibulum nec fermentum leo. Nullam id diam viverra turpis bibendum pharetra.</p>
          <p>Morbi ultricies elit augue, ac luctus lorem ultrices eu. Cras mauris sem, condimentum sed ultricies eu, hendrerit id sapien. Phasellus porttitor nisl ut imperdiet pulvinar. Vestibulum malesuada justo in tortor malesuada porttitor nec aliquet erat. Vestibulum vel suscipit sapien, sed tincidunt mauris. Suspendisse potenti. Phasellus ornare accumsan metus, nec euismod nulla consequat in. Nulla facilisi. Sed ligula urna, elementum a maximus at, semper vel lorem.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="triangle-container">
    <div class="triangle"></div>
    <img class="fancy-separator pure-img" src="./assets/fancy-separator.png" alt="Separator">
  </div>
</div>