<!-- Modal -->
<div class="dates modal fade" id="datesModal" tabindex="-1" role="dialog"
aria-labelledby="datesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="uppercase">Termine von<br>Segelteam Austria</h2>
        <h4 class="uppercase">Lorem ipsum proin gravida nibh vel velit</h4>
      </div>
      <div class="modal-body">
        <table class="pure-table uppercase">
          <tbody>
              <tr>
                  <td>
                    <i class="material-icons">event</i>
                    <span>23 - 24 Mai 2014</span>
                  </td>
                  <td>Lorem ipsum proin gravida</td>
                  <td>Mondsee</td>
                  <td>Alle klassen</td>
              </tr>
              <tr>
                  <td>
                    <i class="material-icons">event</i>
                    <span>13 - 14 Juni 2014</span>
                  </td>
                  <td>Lorem ipsum proin gravida</td>
                  <td>Traunsee</td>
                  <td>Alle klassen</td>
              </tr>
              <tr>
                  <td>
                    <i class="material-icons">event</i>
                    <span>27 - 28 Juni 2014</span>
                  </td>
                  <td>Lorem ipsum proin gravida</td>
                  <td>Attersee</td>
                  <td>Alle klassen</td>
              </tr>
              <tr>
                  <td>
                    <i class="material-icons">event</i>
                    <span>27 - 28 Juli 2014</span>
                  </td>
                  <td>Lorem ipsum proin gravida</td>
                  <td>Mondsee</td>
                  <td>Alle klassen</td>
              </tr>
              <tr>
                  <td>
                    <i class="material-icons">event</i>
                    <span>27 - 28 Juli 2014</span>
                  </td>
                  <td>Lorem ipsum proin gravida</td>
                  <td>Attersee</td>
                  <td>Alle klassen</td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>
    <%- include('./modal-sidebar'); %>
  </div>
</div>