<div class="footer l-box">
  <span>© 2014. Segel-Team. Alle Rechte vorbehalten</span>
  <div class="social-media">
    <a href="#"><img src="./assets/fb.png"></a>
    <a href="#"><img src="./assets/twitter.png"></a>
  </div>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Impressum</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Datenschutz</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Rechtliches</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Copyright</a></li>
    </ul>
  </div>
</div>