<div class="menu pure-g uppercase">
  <div class="pure-u-1-5 pure-u-sm-3-5">
    <div class="menu-icon"><i class="material-icons" onclick="toggleMenu()">menu</i></div>
    <div id="menu" class="pure-menu pure-menu-horizontal" style="display: none;">
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link" onclick="toggleMenu()"
              data-toggle="modal" data-target="#datesModal">About us</a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link" onclick="toggleMenu()"
              data-toggle="modal" data-target="#newsModal">Gallery</a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link" onclick="toggleMenu()"
              data-toggle="modal" data-target="#datesModal">Crew</a>
            </li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link" onclick="toggleMenu()"
              data-toggle="modal" data-target="#newsModal">Kontakt</a>
            </li>
        </ul>
    </div>
  </div>
  <div class="pure-u-4-5 pure-u-sm-2-5">
    <div class="brand">
      <div class="brand-box">
        <img class="pure-img" src="./assets/segel-logo.png" alt="Segel logo">
        <div class="brand-text">
          <span>Segel</span>
          <span>Team</span>
        </div>
      </div>
    </div>
  </div>
</div>