<div class="modal-sidebar">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="social-media">
    <div class="bg-black"><a href="#"><img src="./assets/fb.png"></a></div>
    <div class="bg-black"><a href="#"><img src="./assets/twitter.png"></a></div>
  </div>
</div>