<!-- Modal -->
<div class="news modal fade" id="newsModal" tabindex="-1" role="dialog"
aria-labelledby="newsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="flex-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <div class="date">
            <i class="material-icons">event</i>
            <span class="uppercase">23 Mai 2014</span>
          </div>
          <div class="pure-g">
            <div class="title pure-u-1 pure-u-sm-1-2">
              <h2 class="uppercase">Newsartikel<br>Headline</h2>
              <h4 class="uppercase">Lorem ipsum proin gravida nibh vel velit</h4>
            </div>
            <div class="slider pure-u-1 pure-u-sm-1-2">
              <div class="picture">
                <i class="material-icons">navigate_before</i>
                <i class="material-icons nav-next-icon">navigate_next</i>
                <img class="pure-img" src="assets/people.png" alt="People">
              </div>
              <div class="caption">1/10</div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="text-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum bibendum tortor sit amet placerat. Proin vehicula commodo nibh in vulputate. Nam feugiat magna sit amet velit vulputate scelerisque vel non massa. Donec id blandit lacus. Mauris gravida velit vel finibus auctor. Cras elementum rutrum leo nec congue. Sed vehicula nibh et dolor molestie tempor. Praesent non turpis vestibulum, pharetra libero vehicula, faucibus tortor. Nulla id ipsum eu metus sodales tristique. Suspendisse hendrerit lacus in purus egestas dignissim. Curabitur magna nisl, fermentum eget est eget, vulputate viverra ex. Mauris id elit eu lectus dapibus dignissim at quis nulla. Aliquam luctus mauris purus, ut tincidunt arcu consequat eu. Curabitur aliquam sit amet lacus sed malesuada. Pellentesque pretium ultricies dui ac convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut hendrerit libero. Phasellus sed ultrices massa, in congue nibh. Etiam sit amet hendrerit ipsum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum bibendum tortor sit amet placerat. Proin vehicula commodo nibh in vulputate. Nam feugiat magna sit amet velit vulputate scelerisque vel non massa. Donec id blandit lacus. Mauris gravida velit vel finibus auctor. Cras elementum rutrum leo nec congue. Sed vehicula nibh et dolor molestie tempor. Praesent non turpis vestibulum, pharetra libero vehicula, faucibus tortor. Nulla id ipsum eu metus sodales tristique. Suspendisse hendrerit lacus in purus egestas dignissim. Curabitur magna nisl, fermentum eget est eget, vulputate viverra ex. Mauris id elit eu lectus dapibus dignissim at quis nulla. Aliquam luctus mauris purus, ut tincidunt arcu consequat eu. Curabitur aliquam sit amet lacus sed malesuada. Pellentesque pretium ultricies dui ac convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut hendrerit libero. Phasellus sed ultrices massa, in congue nibh. Etiam sit amet hendrerit ipsum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum bibendum tortor sit amet placerat. Proin vehicula commodo nibh in vulputate. Nam feugiat magna sit amet velit vulputate scelerisque vel non massa. Donec id blandit lacus. Mauris gravida velit vel finibus auctor. Cras elementum rutrum leo nec congue. Sed vehicula nibh et dolor molestie tempor. Praesent non turpis vestibulum, pharetra libero vehicula, faucibus tortor. Nulla id ipsum eu metus sodales tristique. Suspendisse hendrerit lacus in purus egestas dignissim. Curabitur magna nisl, fermentum eget est eget, vulputate viverra ex. Mauris id elit eu lectus dapibus dignissim at quis nulla. Aliquam luctus mauris purus, ut tincidunt arcu consequat eu. Curabitur aliquam sit amet lacus sed malesuada. Pellentesque pretium ultricies dui ac convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut hendrerit libero. Phasellus sed ultrices massa, in congue nibh. Etiam sit amet hendrerit ipsum.</p>
          </div>
        </div>
      </div>
      <%- include('./modal-sidebar'); %>
    </div>
    <div class="modal-footer">
      <div class="footer-wrapper bg-light-gray">
        <div class="nav before">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="footer-content">
          <h3 class="uppercase">Ältere Artikel</h3>
          <div class="slider">
            <div class="slide">
              <img class="pure-img" src="assets/slides/slide1.png" alt="Slide1">
              <h3 class="uppercase">Headline von Einem Ältere Artikel</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, augue rhoncus scelerisque lobortis, mauris ante vestibulum velit, vitae scelerisque nulla ante non augue.</p>
            </div>
            <div class="slide display-sm">
              <img class="pure-img" src="assets/slides/slide2.png" alt="Slide2">
              <h3 class="uppercase">Headline von Einem Ältere Artikel</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, augue rhoncus scelerisque lobortis, mauris ante vestibulum velit, vitae scelerisque nulla ante non augue.</p>
            </div>
            <div class="slide display-md">
              <img class="pure-img" src="assets/slides/slide3.png" alt="Slide3">
              <h3 class="uppercase">Headline von Einem Ältere Artikel</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, augue rhoncus scelerisque lobortis, mauris ante vestibulum velit, vitae scelerisque nulla ante non augue.</p>
            </div>
            <div class="slide display-lg">
              <img class="pure-img" src="assets/slides/slide4.png" alt="Slide4">
              <h3 class="uppercase">Headline von Einem Ältere Artikel</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, augue rhoncus scelerisque lobortis, mauris ante vestibulum velit, vitae scelerisque nulla ante non augue.</p>
            </div>
          </div>
        </div>
        <div class="nav next">
          <i class="material-icons">navigate_next</i>
        </div>
      </div>
    </div>
  </div>
</div>